<tr>
	<td class "location">
		<span class="name"><%= link_to location.name, location %></span>
		<span class="timestamp">
			Created <%= time_ago_in_words(location.created_at) %> ago.
		</span>
	</td>
</tr>